<div class="section" id="skill" style="margin-bottom: 50px !important;">
        <div class="container">
          <div class="h4 text-center mb-4 title">Skills</div>

          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">

              <div class="row">
                <div class="col-md">
                  <div class="card">
                    <div class="card-body">
                      <div class="h5" style="text-align: center;"><strong>Programming Languages</strong></div>
                      <div style="text-align: center;">C,Java,Python</div>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card">
                    <div class="card-body">
                      <div class="h5" style="text-align: center;"><strong>Web Technologies</strong></div>
                      <div style="text-align: center;">Mean Stack,Spring boot,Django,</div>
                      <div style="text-align: center;">HTML,CSS,Javascript,Bootstrap</div>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card">
                    <div class="card-body">
                      <div class="h5" style="text-align: center;"><strong>Cloud Technologies</strong></div>
                      <div style="text-align: center;">Amazon Web Services</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <div class="card">
                    <div class="card-body">
                      <div class="h5" style="text-align: center;"><strong>Tools</strong></div>
                      <div style="text-align: center;">Git,Jenkins,Visual Studio Code,Jboss,Eclipse,</div>
                      <div style="text-align: center;">DB Visualizer,Mongo DB,Putty,Jmeter,Docker</div>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card">
                    <div class="card-body">
                      <div class="h5" style="text-align: center;"><strong>Methodologies</strong></div>
                      <div style="text-align: center;">Agile-Scrum,Waterfall</div>
                    </div>
                  </div>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>