<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Sai Santhosh Konduri</strong> , an IT professional with around five years of background in software engineering,
              and enterprise IT. Ability to design and build the right technical solutions to meet business
                needs and enable rapid technical experimentation in user experience. Proven ability to build frontend, backend and networking
                functions on AWS infrastructure, operate across solution pipelines, and write product or system development code.</div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
            
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">saisanthoshkonduri@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">(+1)518-209-0794</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Irving, Texas - 75038
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>