<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Sai Santhosh Konduri</strong> .A computer science specialist with 2.5 years of work experience at UHG, one of the fortune 500 companies, and Research Assistantship at CTG aiming to solve problems with proven knowledge in Data Science, Web Development, Cloud Computing and strong programming skills to fulfill the role of Software Engineer. </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
            
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">saisanthoshkonduri@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">(+1)518-209-0794</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">419 Manning Boulevard,Albany,NY,12206
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>