<div class="section" id="education" style="margin-bottom: 100px !important;">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Science</div>
               <h4 class="category">University at Albany(state University of New York),Albany,NY
               </h4>
               <ul>
                <li>Computer Science</li>
                <li>CGPA : 3.4/4.0</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2017</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Vardhaman College of Engineering
               </h4>
               <ul>
                <li> Electronics and Communication Engineering </li>
                <li> Percentage : 80.4% </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
     
      
    </div>
  </div>