<div class="section" id="accomplishments" style="min-height: 500px;">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Accomplishments</div>
        <div class="card">
            <div class="card-body">
                <ul>
                    <li>Certified Java SE6 Professional.</li>
                    <li>Active participant of Hackerrank and LeetCode.</li>
                    <li>Recognized for Automating the compliance Reports at Optum Global Solutions (UHG).</li>
                    <li>Volunteered Airtel Marathon Hyderabad 2015</li>
                </ul>
            </div>
        </div>
    </div>
</div>


