<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" >
        <div class="page-header-image"  style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <img src="assets/images/im2.jpeg" alt="Image" />
            </div>
            <div class="h2 title">Sai Santhosh Konduri</div>
            <p class="category text-white">Full Stack Web Developer</p>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/sai-santhosh-konduri/"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/kondurisaisanthosh "
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>